@page "/"
@layout Layout.LayoutTech
@inject LanguageService Loc 

<PageTitle>Zijian XI</PageTitle>

<div class="layout-cover">
    <div class="cover-img-01">
        <div class="cover-img-01-letter iconmax iconmax-P  cover-img-01-letter-P"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
        <div class="cover-img-01-letter iconmax iconmax-R  cover-img-01-letter-R"></div>
        <div class="cover-img-01-letter iconmax iconmax-T  cover-img-01-letter-T"></div>
        <div class="cover-img-01-letter iconmax iconmax-F  cover-img-01-letter-F"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
        <div class="cover-img-01-letter iconmax iconmax-L  cover-img-01-letter-L"></div>
        <div class="cover-img-01-letter iconmax iconmax-I  cover-img-01-letter-I"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
    </div>
    <div class="cover-img-02 ">
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
    </div>
    <div class="portfolio-banner">
        <div class="left-block">
            <div class="year">
                2025 <div class="year-border"></div>
            </div>
            <div class="role">Product Owner AI</div>
        </div>
        <div class="diago-wrapper">
            <svg class="diagonal-line" xmlns="http://www.w3.org/2000/svg">
                <line x1="0" y1="100%" x2="100%" y2="0" />
            </svg>
        </div>
        <div class="right-block">
            <div class="title-right-block"><strong>@Loc.Get("Zijian_XI")</strong></div>
            <div class="content-card">
                <SectionText Title4="Présentation personnelle – Vision, formation et méthode">
                    <Br12 />Product Owner IA avec une double formation <strong>artistique</strong> et <strong>technique</strong>,
                    <Br8 />je conçois des <strong>parcours intelligents</strong> mêlant <strong>design UX</strong>, supervision de modèles génératifs et structuration produit.
                    <Br12 />Mon approche s’ancre dans une logique d’<strong>inférence raisonnée</strong> — traduite en flux cohérents, expériences explicables et systèmes adaptatifs.

                    <Br12 />Formé aux <strong>arts plastiques</strong> (ENSA Nancy, HIFA),
                    <Br8 />j’ai appris à libérer la créativité et à cultiver l’exploration comme moteur de conception.
                    <Br12 />Cette sensibilité à la <strong>composition</strong>, au rythme et à l’ambiguïté me guide aujourd’hui
                    <Br8 />dans la modélisation d’<strong>interfaces vivantes</strong>, entre algorithme et usage.

                    <Br12 />Méthodologue passionné, obsédé par la <strong>clarté des systèmes</strong>,
                    <Br8 />je considère chaque projet comme un <strong>laboratoire d’expérimentation</strong> :
                    <Indent>
                        <Br8 />j’y ajuste les outils, déconstruis les évidences,
                        <Br0 />et transforme la complexité en <strong>usage fluide</strong> —
                        <Br0 />en alignant <strong>cognition métier</strong>, <strong>langage produit</strong> et <strong>expérience utilisateur</strong>.
                    </Indent>
                </SectionText>
            </div>
        </div>
    </div>
    <div class="block-mobile">
        <div class="portfolio-banner portfolio-banner-mobile">
            <div class="left-block">
                <div class="year">
                    2025 <div class="year-border"></div>
                </div>
                <div class="role">Product Owner AI</div>
            </div>
            <div class="diago-wrapper">
                <svg class="diagonal-line" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="100%" x2="100%" y2="0" />
                </svg>
            </div>
            <div class="right-block">
                <div class="title-right-block"><strong>Zijian XI</strong></div>
            </div>
        </div>
        <div class="content-card">
            <SectionText Title4="Présentation personnelle – Vision, formation et méthode">
                <Br12 />Product Owner IA avec une double formation <strong>artistique</strong> et <strong>technique</strong>,
                <Br8 />je conçois des <strong>parcours intelligents</strong> mêlant <strong>design UX</strong>, supervision de modèles génératifs et structuration produit.
                <Br12 />Mon approche s’ancre dans une logique d’<strong>inférence raisonnée</strong> — traduite en flux cohérents, expériences explicables et systèmes adaptatifs.

                <Br12 />Formé aux <strong>arts plastiques</strong> (ENSA Nancy, HIFA),
                <Br8 />j’ai appris à libérer la créativité et à cultiver l’exploration comme moteur de conception.
                <Br12 />Cette sensibilité à la <strong>composition</strong>, au rythme et à l’ambiguïté me guide aujourd’hui
                <Br8 />dans la modélisation d’<strong>interfaces vivantes</strong>, entre algorithme et usage.

                <Br12 />Méthodologue passionné, obsédé par la <strong>clarté des systèmes</strong>,
                <Br8 />je considère chaque projet comme un <strong>laboratoire d’expérimentation</strong> :
                <Indent>
                    <Br8 />j’y ajuste les outils, déconstruis les évidences,
                    <Br0 />et transforme la complexité en <strong>usage fluide</strong> —
                    <Br0 />en alignant <strong>cognition métier</strong>, <strong>langage produit</strong> et <strong>expérience utilisateur</strong>.
                </Indent>
            </SectionText>
        </div>
    </div>
</div>

