@page "/Methodology"
@layout Layout.LayoutTech

<PageTitle>Methodology</PageTitle>
 
<div class="text-flow">
     
    <SectionText Title3="Une vision transversale" Title4="Concevoir à l’ère des systèmes complexes">

        <Br12 />Nous vivons une époque de <strong>transition technologique sans précédent</strong>.
        <Br12 />L’intelligence artificielle, l’automatisation, les architectures distribuées — toutes <strong>redéfinissent le monde</strong>, ainsi que la pensée produit, l’organisation du travail, et la place de l’humain.

        <Br12 />Dans ce contexte :
        <Indent>
            <Br8 />- comprendre le métier ne suffit plus ;
            <Br0 />- savoir concevoir une expérience ne suffit plus ;
            <Br0 />- même <strong>maîtriser les modèles</strong> ne suffit plus.
        </Indent>

        <Br12 />Je suis convaincu que la <strong>créativité réelle</strong> et la <strong>capacité de transformation</strong> reposent sur la traversée simultanée de <strong>quatre dimensions fondamentales</strong> :
        <Indent>
            <Br8 /><strong>métier – design – modèle – code</strong>
        </Indent>

        <Br12 />Ce n’est pas un culte de la polyvalence, mais une <strong>posture architecturale</strong> :
        <Indent>
            une manière d’<strong>unifier</strong> l’analyse, la définition, la réalisation et l’évolution par une <strong>pensée structurelle</strong>.
        </Indent>

        <Br12 />Ce portfolio ne montre pas seulement des « tâches accomplies »,
        <Br8 />il expose une <strong>méthode</strong>, une <strong>pensée systémique</strong>, une <strong>capacité à construire des architectures de sens</strong>.

        <Br12 />Chaque schéma, chaque modèle, chaque workflow est une tentative de réponse à une seule question :
        <Indent>
            <Br8 /><strong>Comment créer un ordre centré sur l’humain dans des systèmes techniques de plus en plus complexes ?</strong>
        </Indent>

        <Br12 />Si le design fut jadis un pont entre l’humain et l’écran,
        <Br0 />il doit aujourd’hui devenir aussi un pont entre :
        <Indent>
            <Br8 />- l’humain et l’algorithme,
            <Br0 />- l’humain et le système,
            <Br0 />- l’humain et l’avenir.
        </Indent>

    </SectionText>


    <SectionText Title5="Axes structurants">
        <Br12 />Le rôle du PO/Architecte, c’est d’équilibrer ces tensions : 
        <Indent>
            <Br8 />- <strong>Entre marché et technologie</strong>
            <Br0 />- <strong>Entre possibilités et contraintes</strong>
            <Br0 />- <strong>Entre vision et implémentation</strong> 
        </Indent>

     </SectionText>
    <VisionerImage Image=Images[1]>
    </VisionerImage>
    <SectionText Title5="Enseignements">
        <Br12 />Ce projet m’a permis d’<strong>expérimenter un processus UX complet</strong>, en passant par des phases bien structurées de <strong>divergence</strong> et de <strong>convergence</strong>.

        <Br12 />J’ai renforcé ma capacité à <strong>transformer des insights utilisateurs en solutions concrètes</strong>, et à <strong>prioriser les besoins</strong> en fonction de leur valeur réelle.

        <Br12 />L’<strong>analyse de données</strong> — tant <strong>quantitatives</strong> que <strong>qualitatives</strong> — a joué un rôle clé dans mes choix de conception, en particulier pour <strong>sélectionner les canaux</strong> et <strong>formats d’interface</strong> les plus pertinents.
    </SectionText>

 
</div>

@code { 
    private List<ImageItem> Images = new()
    {
        new ImageItem { Src = "images/methotology/00.png", Id = "00" , Dir = ImageDirection.Ori },
        new ImageItem { Src = "images/methotology/01.svg", Id = "01" , Size="400*", Dir = ImageDirection.Ori },
    };
}
