@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main id="mainContainer">
        @* <div class="top-row px-4">
            <a href="antiture@gmail.com" target="_blank">Email</a>
        </div> *@

        <article class="content" id="contentArticle">
            <div class="visioner">
                @Body
            </div> 
        </article>
    </main>
</div>
