@layout Layout.LayoutArt
@using PortfolioXI.Components
<PageTitle>Painting</PageTitle>

<div class="text-flow">
    <SectionText Title2="影像作品">
        <Br12 />这个系列汇集了我在 2011 年至 2013 年间创作的作品，处于一个我密集探索影像作为生成性媒介的阶段。每一件作品并非“再现”，而是“调制”——时间、感知、感官结构。通过节奏、断裂与重复，影像成为一种事件，一片生成的区域。
        <Br12 />受德勒兹和结构主义美学影响，这些作品解构了“影像作为物”的概念，转而将其重新配置为一种“过程”。
    </SectionText>


    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://pub-1f7d3a2007ef4faea113a95dd34e48cc.r2.dev/01.mp4" class="iframe-video"
                title="His-05"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer;   clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://pub-1f7d3a2007ef4faea113a95dd34e48cc.r2.dev/02.mp4" class="iframe-video"
                title="His-05"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer;   clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://pub-1f7d3a2007ef4faea113a95dd34e48cc.r2.dev/03.mp4" class="iframe-video"
                title="His-05"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer;   clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://pub-1f7d3a2007ef4faea113a95dd34e48cc.r2.dev/04.mp4" class="iframe-video"
                title="His-05"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer;   clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://pub-1f7d3a2007ef4faea113a95dd34e48cc.r2.dev/000.mp4" class="iframe-video"
                title="His-05"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer;   clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    


</div>

@code {


}