/* /Components/Br0.razor.rz.scp.css */
.br0[b-3ttgzcbs4m] {
    display: block;
    margin-top: 0px;
}
/* /Components/Br12.razor.rz.scp.css */
.br12[b-j4eq1ex4yn] {
    display: block;
    margin-top: 12px;
}
/* /Components/Br8.razor.rz.scp.css */
.br8[b-9azgqybdwg] {
    display: block;
    margin-top: 8px;
}
/* /Components/Declaration.razor.rz.scp.css */
.declaration[b-j5b0oun8av] {
    margin: 50px auto;
    width: fit-content;
    text-align: center;
}
/* /Components/Indent.razor.rz.scp.css */
.indent[b-q9fw4eaq7f] {
    padding-left: calc( var(--indent) *0 + 1rem);
}
/* /Components/LanguageSelector.razor.rz.scp.css */
.br0[b-fbl2adf75q] {
    display:block;
    margin-top: 0px;
}
/* /Components/NavMenu.razor.rz.scp.css */


.nav-item[b-76xy74j0hx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-76xy74j0hx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-76xy74j0hx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-76xy74j0hx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-76xy74j0hx]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-76xy74j0hx]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-76xy74j0hx] {
        display: none;
    }

    .collapse[b-76xy74j0hx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-76xy74j0hx] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(var(--vh, 1vh) * 100 - 3.5rem);
        overflow-y: auto;
    }
} 
/* /Components/ObserverSize.razor.rz.scp.css */
.br0[b-t1s0jp9y8g] {
    
    margin-top: 0px;
}
/* /Components/Parameters.razor.rz.scp.css */
.br0[b-obkau3n94h] {
    display:block;
    margin-top: 0px;
}
/* /Components/SectionText.razor.rz.scp.css */
.section-text[b-jgy7914fs4]{ 
    margin-bottom: 12px;
}
/* /Components/Spacer.razor.rz.scp.css */
.spacer[b-j7r8fllero] {
    display:block;
    margin-top: 180px;
}
/* /Components/VisionerImage.razor.rz.scp.css */
.visioner-wrapper[b-8bd276tugj] {
    position: fixed;
    z-index: 10000;
}


.visioner[b-8bd276tugj] {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: auto;
    display: flex;
}

.visioner-Ori[b-8bd276tugj] {
    flex-direction: row;
}

.visioner-Verti[b-8bd276tugj] {
    flex-direction: column;
}

.wrapper-image-flow[b-8bd276tugj] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
}

    .wrapper-image-flow .explication-image[b-8bd276tugj] {
        margin: 8px 0px 8px 0px;
        text-align: center;
    }

    .wrapper-image-flow img[b-8bd276tugj] {
        cursor: zoom-in !important; 
    }




/* /Components/VisionerVideo.razor.rz.scp.css */
.visioner-video[b-wdd763avjq] {
    padding-left: calc( var(--indent) *0 + 1rem);
    position: relative;
    min-width: 100%;
    aspect-ratio: 16 / 9;
}
/* /Layout/LayoutArt.razor.rz.scp.css */
.page[b-h6f22h5sgn] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-h6f22h5sgn] {
  flex: 1;
}

.sidebar[b-h6f22h5sgn] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

 
.nav-header-bottom[b-h6f22h5sgn] {
  height: 70px;
  width: 100%;
}

#logoStart[b-h6f22h5sgn] {
  height: 64px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  padding: 4px 20px 9px 16px;
  color: var(--mud-palette-primary);
}

#logoStart:hover[b-h6f22h5sgn] {
  color: var(--mud-palette-info);
}
#logoStartArt[b-h6f22h5sgn] {
  height: 64px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  padding: 4px 20px 9px 16px;
  color: var(--mud-typography-body1-letterspacing);
}

#logoStartArt:hover[b-h6f22h5sgn] {
  color: var(--mud-palette-info);
}

#logoBottom[b-h6f22h5sgn] {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10000;
  padding: 6px;
  color: var(--mud-palette-primary);
}
#logoBottom:hover[b-h6f22h5sgn] {
  color: var(--mud-palette-info);
}
 
.logoSite[b-h6f22h5sgn] {
  width: 30px;
  height: 30px;
}

@media (max-width: 640.98px) {
  .top-row[b-h6f22h5sgn] {
    justify-content: space-between;
  }

  .top-row[b-h6f22h5sgn]  a,
  .top-row[b-h6f22h5sgn]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-h6f22h5sgn] {
    flex-direction: row;
  }

  .sidebar[b-h6f22h5sgn] {
    width: 250px;
    height: calc(var(--vh, 1vh) * 100);
    position: sticky;
    top: 0;
  }

  .top-row[b-h6f22h5sgn] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-h6f22h5sgn]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-h6f22h5sgn],
  article[b-h6f22h5sgn] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}



#logoStartArt[b-h6f22h5sgn]{
    top: 30px;
    left:76px;
    padding: 0px;
}
/* /Layout/LayoutTech.razor.rz.scp.css */

.nav-header-bottom[b-ocusr0qrng] {
  height: 70px;
  width: 100%;
}

#logoStart[b-ocusr0qrng] {
  height: 64px;
  position: fixed;
  top: 0px;
  left: 18px;
  z-index: 10000;
  padding: 4px 20px 9px 16px;
  color: var(--mud-palette-primary);
}

#logoStart:hover[b-ocusr0qrng] {
  color: var(--mud-palette-info);
}

#logoBottom[b-ocusr0qrng] {
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 10000;
  padding: 6px;
  color: var(--mud-palette-primary);
}
#logoBottom:hover[b-ocusr0qrng] {
  color: var(--mud-palette-info);
}
 
.logoSite[b-ocusr0qrng] {
  width: 30px;
  height: 30px;
}

@media (max-width: 640.98px) {
  .top-row[b-ocusr0qrng] {
    justify-content: space-between;
  }

  .top-row[b-ocusr0qrng]  a,
  .top-row[b-ocusr0qrng]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-ocusr0qrng] {
    flex-direction: row;
  }

  .sidebar[b-ocusr0qrng] {
    width: 250px;
    height: calc(var(--vh, 1vh) * 100);
    position: sticky;
    top: 0;
  }

  .top-row[b-ocusr0qrng] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-ocusr0qrng]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-ocusr0qrng],
  article[b-ocusr0qrng] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
