@page "/"

<PageTitle>Cover</PageTitle>

<div class="layout-cover">
    <div class="cover-img-01">
        <div class="cover-img-01-letter iconmax iconmax-P  cover-img-01-letter-P"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
        <div class="cover-img-01-letter iconmax iconmax-R  cover-img-01-letter-R"></div>
        <div class="cover-img-01-letter iconmax iconmax-T  cover-img-01-letter-T"></div>
        <div class="cover-img-01-letter iconmax iconmax-F  cover-img-01-letter-F"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
        <div class="cover-img-01-letter iconmax iconmax-L  cover-img-01-letter-L"></div>
        <div class="cover-img-01-letter iconmax iconmax-I  cover-img-01-letter-I"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
    </div>
    <div class="cover-img-02 ">
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
    </div>
    <div class="portfolio-banner">
        <div class="left-block">
            <div class="year">2025 <div class="year-border"></div></div>
            <div class="role">Product Owner AI</div>
        </div>
        <div class="diago-wrapper">
            <svg class="diagonal-line" xmlns="http://www.w3.org/2000/svg">
                <line x1="0" y1="100%" x2="100%" y2="0" />
            </svg>
        </div>
        <div class="right-block">
            <div class="title-right-block"><strong>Zijian XI</strong></div>
            <div class="content-card">
                <p>
                    Product Owner IA avec une double formation artistique et technique, je conçois des parcours
                    intelligents mêlant design UX, supervision de modèles génératifs et structuration produit. Mon
                    approche s’ancre dans une logique d’inférence raisonnée — traduite en flux cohérents, expériences
                    explicables et systèmes adaptatifs.
                </p>
                <p>
                    Formé aux arts visuels (ENSA Nancy, HIFA), j’ai appris à libérer la créativité et à cultiver
                    l’exploration comme moteur de conception. Cette sensibilité à la composition, au rythme et à
                    l’ambiguïté me guide aujourd’hui dans la modélisation d’interfaces vivantes, entre algorithme et
                    usage.
                </p>
                <p class="right-block-last-p">
                    Méthodologue passionné, obsédé par la clarté des systèmes, je considère chaque projet comme un
                    laboratoire d’expérimentation. J’y ajuste les outils, déconstruis les évidences, et transforme la
                    complexité en usage fluide — en alignant cognition métier, langage produit et expérience
                    utilisateur.
                </p>
            </div>

        </div>
    </div>

</div>