@page "/ImageVideo"
@layout LayoutArt
@using PortfolioXI.Components
<PageTitle>Painting</PageTitle>

<div class="text-flow">


    <SectionText Title2="Image vidéo">
        <Br12 />Cette série regroupe des œuvres réalisées entre 2011 et 2013, au cours d’une période d’exploration intense de la vidéo comme champ génératif. Chaque pièce ne représente pas, mais module — le temps, la sensation, la structure perceptive. À travers rythme, rupture et répétition, l’image devient événement, zone de devenir.
        <Br12 /> Influencées par Deleuze et l’esthétique structuraliste, ces œuvres déconstruisent l’image comme objet, pour la reconfigurer comme processus.
    </SectionText>

    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://www.youtube.com/embed/C9jnIHNh5Tk" class="iframe-video"
                title="His-05"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <VisionerVideo>
        <iframe src="https://www.youtube.com/embed/rfMLbeItfDo?start=49" class="iframe-video"
                title="His-04"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>

    <VisionerVideo>
        <iframe src="https://www.youtube.com/embed/v3WDpjpWxcI" class="iframe-video"
                title="His-03"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <VisionerVideo>
        <iframe src="https://www.youtube.com/embed/Ib-fng1HsDk" class="iframe-video"
                title="His-02"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>
    <VisionerVideo>
        <iframe src="https://www.youtube.com/embed/sI5RB2ac9oI" class="iframe-video"
                title="His-01"
                frameborder="0"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </VisionerVideo>
    <Spacer></Spacer>


</div>

@code {


}