@page "/page02"

<PageTitle>Architecture</PageTitle>
  
<div class="visioner  my-grab-area">
    <GrapImage @ref="imgRef">
        <img src="images/2_Architecture_AssistantIA.png"
             alt="Cover"
             class="image-visioner image-ori @imgRef.ImageClass"
             @onclick="imgRef.ToggleImage" />
    </GrapImage>
</div>

@code {
    private GrapImage? imgRef;
}
