@page "/UX"
@using PortfolioXI.Components
<PageTitle>UX</PageTitle>


<div class="center-flow">
    <VisionerImage Image=Images[0]> 
    </VisionerImage>
</div>
@* 
<div class="text-flow">
    <SectionText Title1="Erlay – Plateforme collaborative pour les services juridiques"
                 Title1Sub="Projet intelligent, intuitif et multi-support (Web & Mobile) - 2019"
                 Title2="Introduction"
                 Title3="Introduction"
                 Title4="Introduction"
                 Paragraphs="@Paragraphs" />

    <VisionerImage Image=Images[1]>
        tesrtedfjsqmdfoiuqomsdfjqsmlidfjqsdl sdmlkjfqsmdlkjflksdqj f
    </VisionerImage>
    <VisionerImage Image=Images[2]>
        tesrtedfjsqmdfoiuqomsdfjqsmlidfjqsdl sdmlkjfqsmdlkjflksdqj f
    </VisionerImage>



</div> *@

@code {
    private List<ImageItem> Images = new()
    {
        new ImageItem { Src = "images/1_UX_Erlay.png", Id = "UX_Erlay-0" },
        new ImageItem { Src = "images/1_UX_Erlay.png", Id = "UX_Erlay-1" , Dir = ImageDirection.Verti},
        new ImageItem { Src = "images/2_Architecture_AssistantIA.png", Id = "UX_Erlay-2" , Dir = ImageDirection.Ori},
        new ImageItem { Src = "images/1_UX_Erlay-3.png", Id = "UX_Erlay-3" }
        // ... 可继续添加更多
    };
    private List<string> Paragraphs = new()
    {
    "Erlay est une plateforme que j’ai conçue en <strong>2019</strong>...",
    "Le projet vise à créer un espace numérique <em>fluide</em>...",
    "La plateforme comprend notamment :",
    "- Un système de suivi...<br>- Un module d’organisation...<br>- Interfaces interactives...",
    "La plateforme est conçue sur Web et mobile..."
    };
}