 
@layout Layout.LayoutTech

<PageTitle>Methodology</PageTitle>
<div class="text-flow">

    <SectionText Title3="Une vision transversale" Title4="Concevoir à l’ère des systèmes complexes">

        <Br12 />Nous vivons une époque de <strong>transformation technologique sans précédent</strong>.
        <Br12 />L’intelligence artificielle, l’automatisation, les architectures distribuées — toutes ces forces <strong>redéfinissent notre monde</strong>, notre manière de concevoir les produits, d’organiser le travail, et de penser la place de l’humain dans les systèmes.

        <Br12 />Dans ce contexte :
        <Indent>
            <Br8 />- comprendre le métier ne suffit plus ;
            <Br0 />- concevoir une expérience ne suffit plus ;
            <Br0 />- même <strong>maîtriser les modèles</strong> ne suffit plus.
        </Indent>

        <Br12 />Je suis convaincu que la <strong>véritable créativité</strong> et la <strong>capacité de transformation</strong> résident dans la traversée simultanée de <strong>quatre dimensions fondamentales</strong> :
        <Indent>
            <Br8 /><strong>métier – design – modèle – code</strong>
        </Indent>

        <Br12 />Il ne s’agit pas d’un culte de la polyvalence, mais d’une <strong>posture architecturale</strong> :
        <Indent>
            une manière d’<strong>unifier</strong> l’analyse, la définition, la réalisation et l’évolution au travers d’une <strong>pensée structurelle</strong>.
        </Indent>

        <Br12 />Ce portfolio ne se contente pas de montrer des « tâches accomplies » ;
        <Br8 />il dévoile une <strong>méthodologie</strong>, une <strong>pensée systémique</strong>, une <strong>capacité à construire des architectures porteuses de sens</strong>.

        <Br12 />Chaque schéma, chaque modèle, chaque workflow représente une tentative de réponse à une seule question :
        <Indent>
            <Br8 /><strong>Comment créer un ordre centré sur l’humain dans des systèmes techniques de plus en plus complexes ?</strong>
            <Br8 />Plus fondamentalement — <strong>Comment pouvons-nous tirer parti de ces systèmes techniques pour construire des modèles centrés sur l’humain, de sorte que chaque acte d’énonciation devienne une intervention dans — et une réécriture de — la réalité elle-même.</strong>
        </Indent>

        <Br12 />Si le design fut jadis un pont entre l’humain et l’écran,
        <Br0 />il doit aujourd’hui devenir également un pont entre :
        <Indent>
            <Br8 />- l’humain et l’algorithme,
            <Br0 />- l’humain et le système,
            <Br0 />- l’humain et l’avenir.
        </Indent>

    </SectionText>

    <SectionText Title5="Axes structurants">
        <Br12 />Le rôle du PO / Architecte est d’orchestrer les équilibres entre :
        <Indent>
            <Br8 />- <strong>marché et technologie</strong>,
            <Br0 />- <strong>possibilités et contraintes</strong>,
            <Br0 />- <strong>vision et implémentation</strong>.
        </Indent>
    </SectionText>

    <VisionerImage Image=Images[1]>
    </VisionerImage>

   
</div>

@code { 
    private List<ImageItem> Images = new()
    {
        new ImageItem { Src = "images/methotology/00.png", Id = "00" , Dir = ImageDirection.Ori },
        new ImageItem { Src = "images/methotology/01.svg", Id = "01" , Size="400*", Dir = ImageDirection.Ori },
    };
}
