 
@layout Layout.LayoutTech

<PageTitle>Methodology</PageTitle>
 
<div class="text-flow">

    <SectionText Title3="跨界视角" Title4="在复杂系统时代的设计思维">

        <Br12 />我们正处于一个<strong>前所未有的技术转型期</strong>。
        <Br12 />人工智能、自动化、分布式架构正在深刻变革世界，也在重塑产品思维、工作方式与人类角色。

        <Br12 />在这样的背景下：
        <Indent>
            <Br8 />- 仅理解业务，已不再足够；
            <Br0 />- 仅能设计体验，已不再足够；
            <Br0 />- 即使<strong>掌握模型</strong>，也未必足够。
        </Indent>

        <Br12 />我始终相信，真正的<strong>创造力</strong>与<strong>转化力</strong>，来自于在<strong>四大核心维度</strong>之间的穿行与联结：
        <Indent>
            <Br8 /><strong>业务 – 设计 – 模型 – 代码</strong>
        </Indent>

        <Br12 />这不是对“多能手”的迷信，而是一种<strong>架构师姿态</strong>：
        <Indent>
            通过<strong>结构性思维</strong>，统一分析、定义、实现与演化。
        </Indent>

        <Br12 />本作品集不仅仅呈现“完成的任务”，
        <Br8 />更展示一种<strong>方法论</strong>、一种<strong>系统性思维</strong>，以及<strong>构建意义架构的能力</strong>。

        <Br12 />每一张图、每一个模型、每一条流程，都是对同一个问题的回应：
        <Indent>
            <Br8 /><strong>在愈发复杂的技术系统中，如何构建以人为核心的秩序？</strong>
            <Br8 />更根本地说——<strong>如何利用这些技术系统，构建以人为本的模型，使每一次表述本身就成为对世界的介入与改写。</strong>
        </Indent>

        <Br12 />如果说，过去的设计是连接人和屏幕的桥梁，
        <Br0 />那么今天，它更应该成为：
        <Indent>
            <Br8 />- 人与算法之间的桥梁；
            <Br0 />- 人与系统之间的桥梁；
            <Br0 />- 人与未来之间的桥梁。
        </Indent>

    </SectionText>

    <SectionText Title5="架构思维的三重张力">
        <Br12 />产品负责人 / 架构师的角色，是在以下张力中寻求平衡与统一：
        <Indent>
            <Br8 />- <strong>市场 vs 技术</strong>
            <Br0 />- <strong>可能性 vs 约束</strong>
            <Br0 />- <strong>愿景 vs 实施</strong>
        </Indent>
    </SectionText>

    <VisionerImage Image=Images[1] />

    <SectionText Title5="经验总结">
        <Br12 />本项目让我系统实践了一整套<strong>UX 设计流程</strong>，涵盖清晰的<strong>发散—收敛阶段</strong>。

        <Br12 />我提升了将<strong>用户洞察转化为实际解决方案</strong>的能力，
        <Br8 />并能基于<strong>真实商业价值</strong>对需求优先级进行判断。

        <Br12 />数据分析 —— 包括<strong>定量</strong>与<strong>定性</strong> —— 成为设计决策的重要依据，
        <Br8 />尤其在<strong>选择渠道</strong>与<strong>界面形式</strong>时起到了关键作用。
    </SectionText>

</div>


@code { 
    private List<ImageItem> Images = new()
    {
        new ImageItem { Src = "images/methotology/00.png", Id = "00" , Dir = ImageDirection.Ori },
        new ImageItem { Src = "images/methotology/01.svg", Id = "01" , Size="400*", Dir = ImageDirection.Ori },
    };
}
