@layout Layout.LayoutTech
@inject LanguageService Loc

<PageTitle>Zijian XI</PageTitle>

<div class="layout-cover">
    <div class="cover-img-01">
        <div class="cover-img-01-letter iconmax iconmax-P  cover-img-01-letter-P"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
        <div class="cover-img-01-letter iconmax iconmax-R  cover-img-01-letter-R"></div>
        <div class="cover-img-01-letter iconmax iconmax-T  cover-img-01-letter-T"></div>
        <div class="cover-img-01-letter iconmax iconmax-F  cover-img-01-letter-F"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
        <div class="cover-img-01-letter iconmax iconmax-L  cover-img-01-letter-L"></div>
        <div class="cover-img-01-letter iconmax iconmax-I  cover-img-01-letter-I"></div>
        <div class="cover-img-01-letter iconmax iconmax-O  cover-img-01-letter-O"></div>
    </div>
    <div class="cover-img-02 ">
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
        <div class="iconmax iconmax-dots  cover-img-dots"></div>
    </div>
    <div class="portfolio-banner">
        <div class="left-block">
            <div class="year">
                2025 <div class="year-border"></div>
            </div>
            <div class="role">人工智能项目经理</div>
        </div>
        <div class="diago-wrapper">
            <svg class="diagonal-line" xmlns="http://www.w3.org/2000/svg">
                <line x1="0" y1="100%" x2="100%" y2="0" />
            </svg>
        </div>
        <div class="right-block">
            <div class="title-right-block"><strong>席子舰</strong></div>
            <div class="content-card">
                <SectionText Title4="个人介绍 – 愿景、背景与方法">
                    <Br12 />作为一名人工智能产品负责人，我拥有<strong>技术</strong>与<strong>艺术</strong>双重背景，致力于构建融合<strong>UX 设计</strong>、生成模型监管与产品架构的<strong>智能化流程</strong>。

                    <Br12 />我的方法论源于对<strong>理性推理</strong>的深刻理解 —— 转化为可追溯的流程、可解释的体验和可适应的系统。

                    <Br12 />我曾就读于<strong>法国国立高等美术学院</strong>（ENSA Nancy）及<strong>湖北美术学院</strong>(HIFA)，在那里，我学会了释放创造力，并以探索作为设计的驱动力。
                    <Br12 />而在<strong>Digital Campus</strong>的学习经历，则让我建立起<strong>项目管理意识</strong>，理解了如何将<strong>创意转化为可衡量的商业价值</strong>，并在现实业务中实现落地。

                    <Br12 />作为一名注重方法的实践者，我始终坚持追求<strong>系统清晰性</strong>，并将每一个项目视为一个<strong>实验性实验室</strong>：
                 
                        <Br8 />在其中不断调优工具，打破常规认知，
                        <Br0 />将复杂系统转化为<strong>流畅直观的体验</strong>，
                        <Br0 />探索<strong>用户路径</strong>、<strong>产品语言</strong>与<strong>业务认知</strong>之间的协同机制，
                        <Br0 />同时将<strong>商业价值</strong>本身纳入实验维度 —— 以验证、量化与优化为导向，
                        <Br0 />确保每一次设计迭代都服务于真实的增长与转化目标。
                  
                </SectionText>

            </div>
        </div>
    </div>
    <div class="block-mobile">
        <div class="portfolio-banner portfolio-banner-mobile">
            <div class="left-block">
                <div class="year">
                    2025 <div class="year-border"></div>
                </div>
                <div class="role">Product Owner AI</div>
            </div>
            <div class="diago-wrapper">
                <svg class="diagonal-line" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="100%" x2="100%" y2="0" />
                </svg>
            </div>
            <div class="right-block">
                <div class="title-right-block"><strong>Zijian XI</strong></div>
            </div>
        </div>
        <div class="content-card">
            <SectionText Title4="个人介绍 – 愿景、背景与方法">
                <Br12 />作为一名人工智能产品负责人，我拥有<strong>技术</strong>与<strong>艺术</strong>双重背景，致力于构建融合<strong>UX 设计</strong>、生成模型监管与产品架构的<strong>智能化流程</strong>。

                <Br12 />我的方法论源于对<strong>理性推理</strong>的深刻理解 —— 转化为可追溯的流程、可解释的体验和可适应的系统。

                <Br12 />我曾就读于<strong>法国国立高等美术学院</strong>（ENSA Nancy）及<strong>湖北美术学院</strong>(HIFA)，在那里，我学会了释放创造力，并以探索作为设计的驱动力。
                <Br12 />而在<strong>Digital Campus</strong>的学习经历，则让我建立起<strong>项目管理意识</strong>，理解了如何将<strong>创意转化为可衡量的商业价值</strong>，并在现实业务中实现落地。

                <Br12 />作为一名注重方法的实践者，我始终坚持追求<strong>系统清晰性</strong>，并将每一个项目视为一个<strong>实验性实验室</strong>：

                <Br8 />在其中不断调优工具，打破常规认知，
                <Br0 />将复杂系统转化为<strong>流畅直观的体验</strong>，
                <Br0 />探索<strong>用户路径</strong>、<strong>产品语言</strong>与<strong>业务认知</strong>之间的协同机制，
                <Br0 />同时将<strong>商业价值</strong>本身纳入实验维度 —— 以验证、量化与优化为导向，
                <Br0 />确保每一次设计迭代都服务于真实的增长与转化目标。

            </SectionText>
        </div>
    </div>
</div>
