.title-3-sub,
.title-1-sub,
.title-4 {
  font-style: italic;
  font-weight: 400;
  margin-bottom: 24px;
}
.title-4 {
    font-style: italic;
    margin-left: calc(var(--indent) * 0);
}
.title-5 {
    font-style: italic;
    margin-left: calc(var(--indent) * 1);
}
.title-6 {
    font-style: italic;
    margin-left: calc(var(--indent) * 2);
}

.title-1,
.title-3 {
  font-weight: 600;
}
.title-1,
.title-3 {
  margin-bottom: 8px;
}
.mud-typography-body1,
.mud-typography-body2 { 
    font-weight: 300;
    padding-left: calc( var(--indent) * 2 + 0px); 
    line-height: 1.6;
}
 
.mud-typography-body1 strong,
.mud-typography-body2 strong { 
    font-weight: 500; 
    color: var(--mud-palette-tertiary-darken);
   
}

.title-1 {
  font-size: 5rem;
} 
.title-1-sub {
  font-size: 2rem;
} 
.title-2 {
  font-size: 4rem;
} 
.title-2-sub {
  font-size: 1.8rem;
} 
.title-3 {
  font-size: 2rem;
} 
.title-3-sub {
  font-size: 1.8rem;
} 
.title-4 {
  font-size: 1.6rem;
} 
.title-5 {
  font-size: 1.4rem;
} 
.title-6 {
  font-size: 1.2rem;
}  
.mud-typography-body1{ 
    font-size: 1rem;
} 
.mud-typography-body2{ 
  font-size: 0.8rem; 
}
.mud-typography-body1 strong{ 
    font-size: 1rem;
} 
.mud-typography-body2 strong { 
  font-size: 0.8rem; 
}