.visioner-wrapper {
    position: relative;
    width: 100%;
}
/* 默认情况下不影响文档流 */
.visioner.img-normal {
    position: static;
}

.visioner.img-active{
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.btn-resize-image { 
    z-index: 10000;
}