@inject IJSRuntime JS

<div id="scrollableDiv_@Id" class="visioner my-grab-area">
    @ChildContent

    <button class="btn btn-primary btn-resize-image @ImageClass" @onclick="ToggleEnable">
        <i class="bi bi-zoom-out zoom-out"></i>
    </button>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Id { get; set; }  = Guid.NewGuid().ToString();

    public string ImageClass => isImageActive ? "img-active" : "img-normal";

    public void ToggleImage()
    {
        if (!isImageToggleEnabled) return;
        isImageActive = !isImageActive;
        isImageToggleEnabled = false;
    }

    private void ToggleEnable()
    {
        isImageToggleEnabled = true;
        isImageActive = false;
    }

    private bool isImageActive = false;
    private bool isImageToggleEnabled = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string id = "scrollableDiv_" + Id;
            await JS.InvokeVoidAsync("enableGrabScroll", id);
        }
    }
}
