@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IStringLocalizerFactory Factory
@using System.Globalization
@using PortfolioXI.Resources
@inject LanguageService Loc

<MudSelect T="string"
           Value="_selectedCulture"
           ValueChanged="OnLanguageChanged"
           Label="Language"
           Margin="Margin.Dense"
           Dense="true"
           Style="width: 150px">
    @foreach (var lang in Languages)
    {
        <MudSelectItem Value="@lang.Code">@lang.Name</MudSelectItem>
    }
</MudSelect>

<p style="margin-top: 20px;">@Loc.Get("String1")</p>
<p>当前文化：@CultureInfo.CurrentUICulture.Name</p>

@code {
    private string _selectedCulture = CultureInfo.CurrentUICulture.Name; 

    private async Task OnLanguageChanged(string newCulture)
    {
        _selectedCulture = newCulture;

        if (!string.IsNullOrEmpty(newCulture))
        {
            await JS.InvokeVoidAsync("blazorCulture.set", newCulture);

            // 强制刷新页面，让程序重新加载本地化资源
            Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        }
    }

    private List<LanguageItem> Languages = new()
    {
        new LanguageItem("en-US", "English"),
        new LanguageItem("zh-CN", "中文"),
        new LanguageItem("fr-FR", "Français")
    };

    private record LanguageItem(string Code, string Name);

    
}
