.visioner-wrapper {
    position: fixed;
    z-index: 10000;
}


.visioner {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: auto;
    display: flex;
}

.visioner-Ori {
    flex-direction: row;
}

.visioner-Verti {
    flex-direction: column;
}

.wrapper-image-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
}

    .wrapper-image-flow .explication-image {
        margin: 8px 0px 8px 0px;
        text-align: center;
    }

    .wrapper-image-flow img {
        cursor: zoom-in !important; 
    }




